USE [master]
GO
/****** Object:  Database [BPM_Question]    Script Date: 7/7/2016 3:10:36 PM ******/
CREATE DATABASE [BPM_Question]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BPM_Question', FILENAME = N'E:\AppSetupHere\sql2012_set\MSSQL11.MSSQLSERVER\MSSQL\DATA\BPM_Question.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BPM_Question_log', FILENAME = N'E:\AppSetupHere\sql2012_set\MSSQL11.MSSQLSERVER\MSSQL\DATA\BPM_Question_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BPM_Question].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BPM_Question]
GO
/****** Object:  Table [dbo].[t_AnList]    Script Date: 7/7/2016 3:10:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_AnList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[A_ID] [int] NULL,
	[Q_ID] [int] NULL,
	[QL_ID] [varchar](50) NULL,
 CONSTRAINT [PK_t_AnList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Answer]    Script Date: 7/7/2016 3:10:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Answer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[A_computerName] [varchar](50) NULL,
	[A_Remark] [varchar](250) NULL,
	[A_AddTime] [datetime] NULL,
 CONSTRAINT [PK_t_Answer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Question]    Script Date: 7/7/2016 3:10:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Q_Text] [varchar](150) NULL,
	[Q_Type] [int] NULL,
	[Q_AddTime] [datetime] NULL,
 CONSTRAINT [PK_t_Question] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_QuList]    Script Date: 7/7/2016 3:10:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_QuList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Q_ID] [int] NULL,
	[Q_ListText] [varchar](50) NULL,
 CONSTRAINT [PK_t_QuList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
